<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/sessions/show.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
</script>

<script>
  window.howl_logo_path = "<%= image_path("howl_logo.svg") %>"
  window.default_avatar_path = "<%= image_path("howl_default_avatar.svg") %>"
  window.image_icon_path = "<%= image_path("image_icon.svg") %>"
  window.howl_button_path = "<%= image_path("howl_button.svg") %>"
  window.youtube_logo_path = "<%= image_path("yt_logo_mono_light.png") %>"
</script>

<main id="root"></main>
