<!DOCTYPE html>
<html>
  <head>
    <title>Howl</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.typekit.net/mdo2faj.css">

  </head>

  <body>
    <%= yield %>
    <img src="<%= asset_path('seed_images/71.jpg')%>" style="display: none"/>
  </body>
</html>
